.header>div{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding:10px 90px;
    width: 1200px;
    margin: auto;
}
.header{
    background-color: #a1daf7;
    width: 100%;
    position: fixed;
    /* box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15); */

}

*{
    margin: 0;
    padding: 0;
}
.banner{
    background-color: #a1daf7;
    width: 100%;
}
.banner img{
    padding: 50px 0 0 0;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    border-radius: 14px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.select-button{
    align-items: center;
}
.content{
    background-color: #a1daf7;
}
.according{
    margin: auto;
    width: 1200px;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0;
}
.according-to-demand{
    display: flex;
    margin: auto;
    width: 1200px;
}
.item{
    margin-right: 10px;
    width: 111px;

}
.item-detail{
    overflow: hidden;
    background-position: 100% 100%;
    min-height: 125px;
    display: block;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);
}
.item-detail span{
    display: block;
    color: white;
    padding: 0 5px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
}
.criteria{
    display: flex;
    width: 1200px;
    margin: auto;
}
.select button{
    border: 1px solid #cacccd;
    border-radius: 10px;
    display: flex;
    font-size: 12px;
    padding: 5px 10px;
    background-color: rgb(242, 243, 245);
    margin: 0 10px 10px 0;
}
div{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}


.search input{
    border: none;   
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
}
.search-form{
    border-radius: 10px;
    width: 20%;
    background-color: white;
    display: flex;
}
.btn-search{
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 20px;
    padding-left: 3px;
}
.icon-search{
    background-image: url(resources\images\search.png);
    display: inline-block;
}
.content-product{
    background-color: #a1daf7;
}
.product{
    background-color:  #a1daf7;
    /* padding-top: 10px; */
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 1200px;
}
.item-product{
    background-color: white;
    margin-right: 10px;
    width: calc(20%-8px);
    border-radius: 15px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);
}
.product-img img{
    width: 160px;
    height: 160px;
    text-align: center;
    padding: 20px;
}
.product-name{
    text-align: center;
}
.product-price{
    text-align: center;
}