.modal{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%; 
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    overflow:scroll;
    max-height: 100%;
}



form{
    border-radius: 5px;
    position: absolute;
    top:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 200, 225);
    width: 40%;
    padding: 20px 20px;
}

.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.form-group.form-group-link{
    flex-direction: row;
    justify-content: space-between;
}


.form-link{
    color: white;
    text-decoration: underline;
}

.form-link:hover{
    cursor: pointer;
}

.form-link:active{
    color: rgb(21, 37, 113);
}

.form-control{

}

input[type="text"], input[type="password"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

.btn-primary {
    background-color: rgb(69, 35, 131);
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }

  .btn-primary:hover{
    background-color: rgb(18, 102, 64);
  }

.form-message-error{
    display: none;
    color: red;
    font-size: 16px;
}

.btn-close{
    position: absolute;
    right: 0;
    top: 0;
}

.btn-close:hover{
    background-color: red;
}